@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*root {
    background-color: white;
    font-size: 65%;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0; 
}

h1 {
    color: #ff105f;
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

img {
    height: 4rem;
    padding-right: 5px;
    padding-top: 30px;
    
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem; 
    color: #fff;
    text-align: center;
}
i {
    color: #fff;
}

.flex-center {

    justify-content: center;
    align-items: center;
}
    
.flex-column {
    display: flex;
    flex-direction: column;
}

/* hero image */
.hero-image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./back-image.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: scroll;
}

button{
    background-color: #bc3461;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 2rem;
    width: 280px;
    display: block;
}

a{
    text-decoration: none;
}

@media (max-width: 320px) {
    .login-form {
        width: 100%;
        justify-items: center;
    }

    h1 {
        text-align: center;
    }
    img {
        justify-items: center;
    }

    p {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .login-form {
        width: 100%;
        justify-items: center;
    }

    h1 {
        text-align: center;
    }
    img {
        justify-items: center;
    }

    p {
        text-align: center;
    }
}