
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*general page code*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
   
}

body{
    background-color:ghostwhite;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
    
}

.question-container {
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 65%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.question-container h2 {
    color: #000;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 0.8rem 0;
    font-size: 1.4rem;
}
ul li label{
   cursor: pointer;
}

.flex-center {

    justify-content: center;
    align-items: center;
}
    
.flex-column {
    display: flex;
    flex-direction: column;
}

a{
    text-decoration:none;
}


h1 {
    color: #ff105f;
    font-size: 2rem;
    margin-bottom: 1rem;

}

.heading {
    top: 0;
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #ff105f;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem; 
    color: #fff;
}

/*buttonscode start*/
.submit-btn{
    background-color: #bc3461;
    color: #fff;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 2.5rem;
    position: relative;
}

.submit-btn:hover{
    background-color: #e498b2;
}

.btn-finish {
    margin:auto;
    color: #fff;
    border: none;
    width: 280px;
    display: flex;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 2rem;
    text-align: center;
}
/*buttons code end*/

/* quiz page image */
.hero-image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/page1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: scroll;
    background-repeat: no-repeat;
}
img {
    height: 4rem;
    padding-right: 5px;
    padding-top: 30px;
    
}

/*media queries start*/

@media (min-width: 320px) {
    .question-container {
        width: 90%;
        height:auto;
    }
    .submit-btn{
        width: 100%;
        font-size: 1.1rem;
        padding: 1rem;
    }

    p {
        padding: 0.1rem;
        font-size:large;
    }

    h1 {
        top: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    
    }
    .btn-finish{
        margin:auto;
        width: 280px;
        display: block;

    }
}

@media (min-width: 425px) {
    .question-container {
        width: 90%;
        height:auto;
    }
    .submit-btn{
        width: 100%;
        font-size: 1.1rem;
        padding: 1rem;
    }
    .btn-finish{
        margin:auto;
        width: 280px;
        display: block;

    }

    p {
        padding: 0.5rem;
        bottom: 10px;
    }
}

/*media queries end*/